snippet main "main loop"
fn main() {
	${1}
}
endsnippet


snippet pl "println"
println!(${1});
endsnippet


snippet let "new variable"
let ${1} = ${2};
endsnippet


snippet fn "function"
fn ${1}(${2}) ${3}{
	${4}
}
endsnippet


snippet if-else "if-else"
if ${1} {
	${2};
} else {
	${3};
}
endsnippet


snippet loop "infinite loop"
loop {
	${1}
}
endsnippet


snippet while "while loop"
while ${1} {
	${2}
}
endsnippet


snippet loopc "collection loop"
for ${1} in ${2} {
	${3}
}
endsnippet
